<div class="about-section">
    <h1>About Us Page</h1>
</div>

<h2 style="text-align:center">Group II</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://picsum.photos/200" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Shahrukh Pathan</h2>
                <p class="title">Jr. Software Engineer</p>
                <p>s.pathan@zensar.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/imgs/anil.jfif" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Anil</h2>
                <p class="title">Jr. Software Engineer</p>
                <p>a.ponnoju@zensar.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/imgs/ramana.jfif" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Ramana</h2>
                <p class="title">Jr. Software Engineer</p>
                <p>v.vayala@zensar.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/imgs/srinath.jfif" alt="John" style="width:100%">
            <div class="container">
                <h2>Srinath</h2>
                <p class="title">Jr. Software Engineer</p>
                <p>s.gunji@zensar.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>