<!-- <p>details works</p> -->
<div class="container">
    <h1>Employee Deatils</h1>
    <div class="employee">
        <h2 class="employee_name">{{item.name}}</h2>
        <p class="employee_username">{{item.username}}</p>
        <p class="employee_add">{{item.email}}</p>
        <p class="employee_email">{{item.gender}}</p>
        <p class="employee_gender">{{item.designation}}</p>
        <p class="employee_designation">{{item.phone_number}}</p>
        <p class="employee_phone">{{item.complete_address}}</p>
    </div>
</div>

