<div class="employee">
    <h2 class="employee_name">{{emp.name}}</h2>
    <p class="employee_username">{{emp.username}}</p>
    <p class="employee_add">{{emp.email}}</p>
    <p class="employee_email">{{emp.gender}}</p>
    <p class="employee_gender">{{emp.designation}}</p>
    <p class="employee_designation">{{emp.phone_number}}</p>
    <p class="employee_phone">{{emp.complete_address}}</p>
    <div class="btns">
        <button class="btn btn-primary">Full Details </button>
        <button class="btn btn-accent" id="ed">Edit Details </button>
        <button class="btn btn-danger" (click)="handleDelete()">Remove Employee</button>
    </div>
</div>

<!-- {
    "id": 1,
    "username": "ebahringer",
    "name": "Braulio Luettgen",
    "email": "kaela.turner@example.net",
    "gender": "Female",
    "designation": "Mean Stack Developer",
    "phone_number": "781.322.7616",
    "complete_address": "298 Edythe Harbors Suite 697\nLake Mathiasburgh, MN 28564-6386"
  }, -->